<div class="container">
  <button mat-stroked-button class="new-todo mat-elevation-z8">New todo</button>
  <div class="content">
    <mat-card class="card mat-elevation-z8">
      <p>Deadline date</p>
      <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <div class="actions">
        <button mat-mini-fab color="primary" class="done">
          <mat-icon>done</mat-icon>
        </button>
        <button mat-mini-fab color="accent" class="edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="warn" class="delete">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>
